# Diamond Company Analytics Challenge

**Time:** 35 minutes

**Scenario:** You are the new data analyst at a prestigious diamond company. The CEO has called an urgent meeting and needs answers to critical business questions about the inventory.

**Your Mission:** Analyze the diamond inventory data and provide insights to guide strategic decisions.

In [1]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

Loading diamonds dataset...
Dataset loaded successfully!

## Section 1: Initial Inventory Assessment (5 minutes)

The CEO walks in: "Before we dive into specifics, I need to understand what we're working with. Give me the basics about our inventory database."

### Question 1: "How extensive is our inventory database?"

The CEO needs to know the scale of data you're analyzing.

In [29]:
# Your code here:
print(f"The shape of the dataset is {df.shape}.")

The shape of the dataset is (6000, 8).

### Question 2: "What information do we track about each diamond?"

List all the characteristics we record.

In [34]:
# Your code here:
print(f"The characteristics of the dataset are {df.columns}.")

The characteristics of the dataset are ['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry', 'Report', 'Price'].

### Question 3: "When I look at one line in this database, what am I looking at?"

Explain in business terms:



```
# This is formatted as code
```

**Your answer:** Each row represents:
a diamonds and its qualities such as its price, cut, carat, etc.

## Section 2: Strategic Business Questions (20 minutes)

The CEO continues: "Now let's get to the important questions. Our board meeting is tomorrow and I need concrete numbers."

### Question 4: "We're considering expanding our storage facilities. How many total carats do we have in inventory? I need to know if our vaults can handle the weight."

Think about what measurement would help answer this.

In [13]:
# Your code here:

print(f"The total carats we have is {df['Carat Weight'].sum()}.")

The total carats we have is 8007.120000000001.

### Question 5: "Our new marketing campaign claims we have 'the widest variety of cuts in the industry.' Can you verify this?"

The CEO wants to know about variety, not quantity.

In [15]:
# Your code here:
print(f"We have the widest variety of cuts in the industry with {len(df['Cut'].unique())}.")

We have the widest variety of cuts in the industry with 5.

### Question 6: "I'm meeting with our insurance company. They need to know our price exposure - what's our most and least valuable diamond?"

In [19]:
# Your code here:

print(f"The most valuable diamond is worth ${max(df['Price'])}.")

print(f"The least valuable diamond is worth ${min(df['Price'])}.")

The most valuable diamond is worth $101561.
The least valuable diamond is worth $2184.

### Question 7: "Which color grades should we focus on in our premium line? I need typical prices across our color spectrum."

The CEO wants to understand pricing patterns.

In [31]:
# Your code here:

color_counts = df.group_by(pl.col("Color")).agg(pl.col("Price").mean().alias("price")).sort("price", descending=True)
print("Color frequency (from most to least common):")
color_counts

Color frequency (from most to least common):

shape: (6, 2)
┌───────┬──────────────┐
│ Color ┆ price        │
│ ---   ┆ ---          │
│ str   ┆ f64          │
╞═══════╪══════════════╡
│ D     ┆ 15255.783661 │
│ F     ┆ 12712.241856 │
│ G     ┆ 12520.050633 │
│ E     ┆ 11539.190231 │
│ H     ┆ 10487.347544 │
│ I     ┆ 8989.636364  │
└───────┴──────────────┘

**Reflection:** After analyzing by color, how has your view of the data changed? What does each row in your result represent now?

**Your answer:** New grain = we have the average price for all different colors.

## Section 3: Advanced Strategic Analysis (10 minutes)

The CEO leans forward: "These next questions will shape our strategy for next year."

### Question 8: "We're thinking of specializing in certain clarity grades. For our investor deck, I need a complete breakdown showing: how many diamonds we have in each clarity grade, their typical price, and the total carats we're holding for each grade."

In [35]:
# Your code here:
result = df.group_by("Clarity").agg(
    pl.col("Price").mean().alias("avg_price"),
    pl.col("Carat Weight").sum().alias("total_carats")
).sort("avg_price", descending=True)

result

shape: (7, 3)
┌─────────┬──────────────┬──────────────┐
│ Clarity ┆ avg_price    ┆ total_carats │
│ ---     ┆ ---          ┆ ---          │
│ str     ┆ f64          ┆ f64          │
╞═════════╪══════════════╪══════════════╡
│ FL      ┆ 63776.0      ┆ 7.87         │
│ IF      ┆ 22105.844749 ┆ 316.0        │
│ VVS1    ┆ 16845.680702 ┆ 389.43       │
│ VVS2    ┆ 14142.177177 ┆ 876.58       │
│ VS1     ┆ 13694.113255 ┆ 1682.74      │
│ VS2     ┆ 11809.053333 ┆ 2170.81      │
│ SI1     ┆ 8018.864012  ┆ 2563.69      │
└─────────┴──────────────┴──────────────┘

### Question 9: "My luxury competitor claims they have the best prices for every cut-color combination. Show me our pricing structure across these combinations - I want to see where we're competitive."

In [37]:
# Your code here:

result = df.group_by(["Cut","Color"]).agg(
    pl.col("Price").mean().alias("avg_price"),
    pl.col("Price").max().alias("max_price"),
    pl.col("Price").min().alias("min_price")
)

result

shape: (30, 5)
┌───────────┬───────┬──────────────┬───────────┬───────────┐
│ Cut       ┆ Color ┆ avg_price    ┆ max_price ┆ min_price │
│ ---       ┆ ---   ┆ ---          ┆ ---       ┆ ---       │
│ str       ┆ str   ┆ f64          ┆ i64       ┆ i64       │
╞═══════════╪═══════╪══════════════╪═══════════╪═══════════╡
│ Ideal     ┆ D     ┆ 18461.953571 ┆ 101561    ┆ 3007      │
│ Fair      ┆ E     ┆ 5370.625     ┆ 12829     ┆ 3743      │
│ Good      ┆ D     ┆ 10058.716216 ┆ 52570     ┆ 2995      │
│ Good      ┆ H     ┆ 9535.132812  ┆ 30387     ┆ 2534      │
│ Ideal     ┆ I     ┆ 9459.588378  ┆ 31254     ┆ 2383      │
│ …         ┆ …     ┆ …            ┆ …         ┆ …         │
│ Fair      ┆ I     ┆ 4573.1875    ┆ 8999      ┆ 3166      │
│ Good      ┆ I     ┆ 8174.113043  ┆ 27277     ┆ 2184      │
│ Good      ┆ E     ┆ 8969.545455  ┆ 37848     ┆ 2548      │
│ Very Good ┆ G     ┆ 12354.013841 ┆ 44441     ┆ 2579      │
│ Ideal     ┆ E     ┆ 12647.107914 ┆ 65488     ┆ 2946      │
└───────────┴───────┴──────────────┴───────────┴───────────┘

**Reflection:** How specific is your analysis now? What level of detail does each row represent?

**Your answer:** New grain = Every row represents different combinations of cut and color and their average, max and min prices.

### Question 10: URGENT - "Our biggest client is interested in purchasing entire inventory segments. They asked: 'Which color-cut combinations represent your highest total inventory value?' Show me the top 5 most valuable inventory segments by total worth, and include how many diamonds are in each segment."

This is critical for tomorrow's negotiation.

In [40]:
# Your code here:

result = df.group_by(["Cut","Color"]).agg(
    pl.col("Price").max().alias("max_price"),
    pl.len().alias("count")
).sort("max_price", descending=True)

result.head()

shape: (5, 4)
┌─────────────────┬───────┬───────────┬───────┐
│ Cut             ┆ Color ┆ max_price ┆ count │
│ ---             ┆ ---   ┆ ---       ┆ ---   │
│ str             ┆ str   ┆ i64       ┆ u32   │
╞═════════════════╪═══════╪═══════════╪═══════╡
│ Ideal           ┆ D     ┆ 101561    ┆ 280   │
│ Very Good       ┆ D     ┆ 93813     ┆ 265   │
│ Signature-Ideal ┆ D     ┆ 81399     ┆ 30    │
│ Very Good       ┆ E     ┆ 67240     ┆ 323   │
│ Ideal           ┆ E     ┆ 65488     ┆ 278   │
└─────────────────┴───────┴───────────┴───────┘

## Debrief

Congratulations! You've just completed your first day as the diamond company's data analyst.

Remember:
- CEOs speak in business language, not technical terms
- Always understand what each row represents before analyzing
- Business questions contain clues about which operations to use